#body {
   display:flex;
   justify-content: flex-center;
    margin: 0;
    overflow: hidden;
    height: auto;
    width: auto;
 }
 
 #quokkaImage {
    position: relative;
    cursor: pointer;
    height: 500px;
    width: 500px;
 }
 .display{
    height: 600px;
    width: 1000px;
    position: relative;
 }

 #information{
   height:auto;
   width:auto;
 }

 #quokkaGif{
   position: relative;
    cursor: pointer;
    height: 500px;
    width: 500px;
 }

